@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<img src="https://wallpapercave.com/wp/Qjb2uRh.jpg" alt="Tecnologico" title="TECH" width="100%">
